body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color:  ;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

.anime-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 1em;
    padding: 1em;
    width: 225px;
    height: 390px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center horizontally */
}

.anime-card img {
    width: 205px;
    height: 287px;
    object-fit: cover; /* Ensures the image fills the space without stretching */
    border-bottom: 1px solid #ddd;
}

.anime-card h2 {
    width: 205px;
    height: 41px;
    margin-top: 0.5em; /* Adjust as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
